<nav>
  <%= link_to "Sign up", new_user_registration_path %>
</nav>
<%= link_to "New Project", new_project_path %>

<ul>
  <% @projects.each do |p| %>
    <li><%= link_to p.name, p %></li>
  <% end %>
</ul>
